# Bytecode de Python
*.pyc
__pycache__/

# Archivos Cython compilados
*.so
*.c

# Distribución / Paquetes
build/
dist/
egg-info/

# Entorno Virtual
.venv/
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales y de registro
*.log
*.tmp

# Archivos de entorno (si tienes archivos .env con secretos)
.env

# Resultados de pruebas y cobertura
htmlcov/
coverage.xml
.coverage